<div fxLayout="column" fxLayoutGap="24px">
  <div class="section-title">Pajak Kendaraan</div>
  <mat-card>
    <!-- <mat-card-title>Kendaraan Bermotor</mat-card-title> -->
    <!-- <mat-card-subtitle>Pajak Kendaraan Bermotor</mat-card-subtitle> -->
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
        <div fxFlex="60%" fxLayout="column" fxLayoutAlign="start center" class="vehicle-type" fxLayoutGap="8px">
          <mat-icon class="icon-type">two_wheeler</mat-icon>
          <div class="id">BA 1212 CC</div>
          <div class="type">Sepeda Motor</div>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>payment</mat-icon>
            <div class="icon-text">Bayar</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>history</mat-icon>
            <div class="icon-text">Riwayat Pembayaran</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>edit</mat-icon>
            <div class="icon-text"> Request Pembaruan Data</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>add_circle</mat-icon>
            <div class="icon-text">Buat Laporan</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>clear</mat-icon>
            <div class="icon-text">Lepas Hak Kepemilikan</div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
        <div fxFlex="60%" fxLayout="column" fxLayoutAlign="start center" class="vehicle-type" fxLayoutGap="8px">
          <mat-icon class="icon-type">directions_car</mat-icon>
          <div class="id">BA 2121 CC</div>
          <div class="type">Mobil (SUV)</div>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>payment</mat-icon>
            <div class="icon-text">Bayar</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>history</mat-icon>
            <div class="icon-text">Riwayat Pembayaran</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>edit</mat-icon>
            <div class="icon-text"> Request Pembaruan Data</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>add_circle</mat-icon>
            <div class="icon-text">Buat Laporan</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="icon-container">
            <mat-icon>clear</mat-icon>
            <div class="icon-text">Lepas Hak Kepemilikan</div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <div class="bottom-empty-space"></div>
</div>
