<div fxLayout="column" fxLayoutGap="24px">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          BPJS Kesehatan
        </mat-panel-title>
        <mat-panel-description fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px">
          <div>983287819</div>
          <mat-icon>settings_accessibility</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Nama Lengkap</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">John Doe</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Nomor BPJS Kesehatan</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">983287819</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Kelas</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Kelas 1</div>
        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Alamat</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
            <div>Jalan Raya Tarantang, No.8</div>
            <div>Tarantang</div>
            <div>Kecamatan Harau</div>
            <div>Kabupaten 50.Kota</div>
            <div>Sumatera Barat</div>
          </div>
        </div> -->

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Iuran Per-bulan</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Rp. 140.000 </div>
        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Status Pernikahan</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Menikah</div>
        </div> -->

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">NIK</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%"><a routerLink="/kependudukan">1307551708960001</a></div>
        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <a routerLink="/kependudukan">lihat Detail kependudukan</a>
        </div> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          BPJS Tenaga Kerja
        </mat-panel-title>
        <mat-panel-description fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px">
          <div>983287819</div>
          <mat-icon>domain</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Nama Lengkap</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">John Doe</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Tempat Tanggal Lahir</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Tarantang/17 Agustus 1996</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Jenis Kelamin</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Laki-laki</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Alamat</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
            <div>Jalan Raya Tarantang, No.8</div>
            <div>Tarantang</div>
            <div>Kecamatan Harau</div>
            <div>Kabupaten 50.Kota</div>
            <div>Sumatera Barat</div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Agama</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Islam</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">Status Pernikahan</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">Menikah</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="item">
          <div fxFlex="30%">NIK</div>
          <div fxFlex="2%">:</div>
          <div fxFlex="55%">1307551708960001</div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="bottom-empty-space"></div>
</div>
