<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-sidenav [ColTotal]="colTotal"></app-sidenav>
  </mat-drawer>

  <div class="grid">
    <mat-grid-list [cols]="colTotal" gutterSize="0" rowHeight="10vh">
      <mat-grid-tile [colspan]="colTotal">
        <app-header (DrawerToggle)="DrawerToggle($event)" [ColTotal]="colTotal"></app-header>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="colTotal === 10" colspan="2" rowspan="9" class="content empty-space">
        <app-sidenav></app-sidenav>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colTotal === 10 ? 6 : 1" rowspan="9">
        <div class="content primary-content">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" style="padding-bottom: 16px;">
            <mat-icon (click)="back()">arrow_back_ios</mat-icon>
            <h2>{{title}}</h2>
          </div>
          <mat-divider></mat-divider>
          <router-outlet></router-outlet>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="colTotal === 10" colspan="2" rowspan="9" class="content empty-space"></mat-grid-tile>
    </mat-grid-list>
  </div>

</mat-drawer-container>

<!-- <mat-grid-list [cols]="colTotal" gutterSize="0" rowHeight="10vh">
  <mat-grid-tile [colspan]="colTotal" fxLayout="row" fxLayoutAlign="start stretch" style="background-color: black;">
    <app-header (DrawerToggle)="DrawerToggle($event)"></app-header>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="colTotal === 10" colspan="2" rowspan="9" class="content empty-space">
    <app-sidenav></app-sidenav>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="colTotal === 10 ? 6 : 1" rowspan="9" class="content"></mat-grid-tile>
  <mat-grid-tile *ngIf="colTotal === 10" colspan="2" rowspan="9" class="content empty-space"></mat-grid-tile>
</mat-grid-list> -->
